.header {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
  url(https://images.pexels.com/photos/2983401/pexels-photo-2983401.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  height: 50vh;
  background-position: center center;
  background-size: cover;
}

.about-h2 {
    font-size: 40px;
    position: absolute;
    color: #fff;
    top: 270px;
    left: 150px;
}

.card-product1 {
  overflow: hidden;
  height: 250px;
  padding: 4px;
  background: white;
  display: flex;
  align-items: center;
  margin: 25px;
}

.card-product1:hover {
  box-shadow: 2px 4px 5px rgba(255, 255, 255, 0.4);

}

.card-product1 img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product1 h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product1 p {
  font-size: 1rem;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product1 .card-product1-infos {
  padding: 10px;
}

@media screen and (max-width: 960px) {
    .card-product1 {
      height: 400px;

    }
}

@media screen and (max-width: 720px) {
    .card-product1 {
      height: 400px;

    }
}

@media screen and (max-width: 540px) {
    .card-product1 {
        display: flex;
        flex-direction: column;
        height: 500px;
        padding: 10px;
    }
}